[Desktop Entry]
Version=1.0
Name=BashTop
Comment=BashTop
Exec=kitty -e bashtop
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;
