[Desktop Entry]
Type=Application
Name=Lock Screen
# Exec=/home/ANT.AMAZON.COM/averdow/bin/lock
Exec=/bin/sh -c 'exec "$HOME/bin/lock"'
Icon=system-lock-screen
Terminal=false
